<div class="from-gray-700 to-gray-800 h-96">
  <section>
    <div class="flex justify-center align-middle bg-gray-800 text-white p-7">
      <p class="text-6xl">To do List</p>
    </div>
  </section>


  <section>

  <div class="h-screen">
    <app-tasks-container></app-tasks-container>
  </div>


  </section>

  <section>
    <footer class="bg-gray-800 text-white py-4 px-3 ">
      <div class="container mx-auto flex flex-wrap items-center justify-between">
          <div class="w-full md:w-1/2 md:text-center md:mb-0 mb-8">
              <p class="text-xs text-gray-400 md:text-sm">Copyright 2020 &copy; All Rights Reserved</p>
          </div>
          <div class="w-full md:w-1/2 md:text-center md:mb-0 mb-8">
              <ul class="list-reset flex justify-center flex-wrap text-xs md:text-sm gap-3">
                  <li><a href="#" class="text-gray-400 hover:text-white">Contact</a></li>
                  <li class="mx-4"><a href="#" class="text-gray-400 hover:text-white">Privacy Policy</a></li>
                  <li><a href="#" class="text-gray-400 hover:text-white">Terms of Use</a></li>
              </ul>
          </div>
      </div>
  </footer>
  </section>

</div>
